<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>agent_register</title>
    
</head>
<body>
    
    <h1>Welcome to the Register Page!</h1>
    <form action="/registerAuth_agent" method="POST">
        This is the form for agent register
        <table ID='table1'>
            <!-- Email_address -->
            <tr>
                <td>
                    Email address
                </td>
                <td>
                    <input type="text" name = "email" placeholder="email" required/>
                </td>
            </tr>
            <!-- Password -->
            <tr>
                <td>
                    Password: 
                </td>
                <td>
                    <input type="password" name = "password" placeholder="password" required/>
                </td>
            </tr>
            <!-- Password2 -->
            <tr>
                <td>
                    Confirm your password again: 
                </td>
                <td>
                    <input type = "password" name = "password2" placeholder = "Please confirm again" required/>
                </td>
            </tr>
            <!-- Booking Agent ID -->
            <tr>
                <td>
                    Booking Agent ID: 
                </td>
                <td>
                    <input type = "text" name = "booking_agent_id" placeholder = "" required/>
                </td>
            </tr>
            <!-- Booking Agent Work For -->
            <!-- <tr>
                <td>
                    Booking Agent Work For: 
                </td>

                <td>
                    
                    <input type = "text" name = "airline_name" placeholder = "" required/>
                </td>
                
            </tr> -->
        </table>
        
        <input type="submit"  name="submit" value="register" /><br>
        <button type="button"><a href="/">GO BACK</a></button><br>
    </form>
    
    {% if error %}
        <p class="error"><strong>Error:</strong> {{error}}</p>
    {% endif %}
</body>
</html>

