<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detailed Reoprts of Ticket Sold</title>
</head>
<body>
    <h2>Welcome, {{session['username']}}!</h2> 
    <h3>You are viewing Detailed Reoprts of Ticket Sold: </h3>

    Total amout of ticket sold last month: {{ lastMTotTkt[0]["COUNT(ticket.ticket_id)"] }}<br>
    Total amout of ticket sold last year: {{ lastYTotTkt[0]["COUNT(ticket.ticket_id)"] }}<br>

    Specify a date range <strong>that is less than 2 year</strong>:

    <form action="/airline_staff/detailed_reports/{{session['username']}} " method ="POST">
        <div >
            <span>From</span>
            <input type="date" name = "fromDate">
            <span>To</span>
            <input type="date" name = "toDate">
            <button type="submit"> Search </button>
        </div>
    </form>

    <img src="{{ image5 }}" align="middle"/><img src="{{ image6 }}" align="middle"/><br>

    


    {% if error %}
    <p class="error"><strong>Error: </strong> {{error }}</p>
    {% endif %}

    <button onclick="window.location.href='/airline_staff/{{session.username|e}}'";>Go Back</button>   
</body>
</html>