<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>airline_staff_home</title>
</head>
<body>
    <form action="/airline_staff/{{session['username']}}" method="POST">
        <h1>  Welcome, {{session['role']}}: {{session['username']}} ! 
        </h1>
    </form>
    {% if status %}
    <p ><strong>Status: </strong> {{status}}</p>
    {% endif %}
    <h2>View {{session['company']}} upcoming flights: </h2> 
    <form action="/airline_staff/{{session['username']}}" method="POST">
        <div>
            <span>Start Date</span>
            <input type="date" name = "departure_date">
            <span>End Date</span>
            <input type="date" name = "arrival_date">
            <span>Flight Number</span>
            <input type="text" name = "flight">
            <span>Departure Airport</span>
            <input type="text" name = "departure_airport">
            <span>Arrival Airport</span>
            <input type="text" name = "arrival_airport">
            <span>Departure City</span>
            <input type="text" name = "departure_city">
            <span>Arrival City</span>
            <input type="text" name = "arrival_city">
            <button type="submit"> Search </button>
        </div>
    </form>
    <table border = "1" cellspacing="0">
        <tr>
            <td>airline_name</td>
            <td>flight_num</td>
            <td>departure_airport</td>
            <td>departure_time</td>
            <td>arrival_airport</td>
            <td>arrival_time</td>
            <td>price</td>
            <td>status</td>
            <td>airplane_id</td>
            <td>Customers</td>
        </tr> 
        {% for row in all_flight %}
        <tr>
            <td>{{row['airline_name']}}</td>
            <td>{{row['flight_num']}}</td>
            <td>{{row['departure_airport']}}</td>
            <td>{{row['departure_time']}}</td>
            <td>{{row['arrival_airport']}}</td>
            <td>{{row['arrival_time']}}</td>
            <td>{{row['price']}}</td>
            <td>{{row['status']}}</td>
            <td>{{row['airplane_id']}}</td>
            <td><a href = "{{ url_for('view_customer', flight_num = row['flight_num'],airline_name = row['airline_name'],username = session['username']) }}";><button type="submit">View all customer </button></a></td> 
        </tr>
        {% endfor %} 
    </table>
    
    {% if "Admin" in session['status']%}
    <div>
        <h2>
            <h2>More Options Available to Admin:</h2>
           <a href = "{{ url_for('create_new_flight', staff_email = session['username']) }}";> <button>Create New Flight</button></a><br>
            <a href = "{{ url_for('add_new_airplanes', staff_email = session['username']) }}"><button>Add New Airplane </button></a><br>
            <a href = "{{ url_for('add_new_airports', staff_email = session['username']) }}"> <button>Add new airport</button> </a><br>
            <a href = "{{ url_for('grant_permission', staff_email = session['username']) }}"><button>Grant new permission</button></a><br>
            <a href = "{{ url_for('add_booking_agents', staff_email = session['username']) }}"><button>Add booking agent </button></a><br>

        </h2>
    </div>
    {% endif %}

    {% if "Operator" in session['status'] %}
    <div>
        <h2>
            <h2>More Options Available to Operator:</h2>
           <a href = " {{ url_for('change_flight_status', staff_email = session['username'], airline_name = session['company']) }}";> <button>Change Flight Status</button></a ><br>
        </h2>
    </div>
    {% endif %}


    <div>
        <h2>View all the booking agent</h2>
        <table border="1" cellspacing="0">
            <tr>
                <td><h4>Top 5 agent for the last  month:</h4></td>
            </tr>
            {%for row in lm_agent %}
            <tr>
                <td>{{row['booking_agent_id']}}</td>
            </tr>
            {% endfor %}
            {% if not lm_agent %}
            <tr>
                <td> Not enough agent </td>
            </tr>
            {% endif %}
            <tr><td><h4>Top 5 agent for last year: </h4></td></tr>
            {%for row in ly_agent %}
                <tr>
                    <td>{{row['booking_agent_id']}}</td>
                </tr>
            {% endfor %}
            {% if not ly_agent %}
            <tr>
                <td> Not enough agent </td>
            </tr>
            {% endif %}
            <tr><td><h4>Top 5 agent based on last year's commssion: </h4></td></tr>
            {%for row in c_agent%}
                <tr>
                    <td>{{row['booking_agent_id']}}</td>
                </tr>
            {% endfor %}
            {% if not c_agent %}
            <tr>
                <td> Not enough agent </td>
            </tr>
            {% endif %}
        </table>
    </div>
    <div>
        <h2>View frequent customers</h2>
        <table border="1" cellspacing="0">
            <tr>
                <td>Frequent customer</td>
                <td>View detail</td>
            </tr>
            {% for row in frequent_customer %}
            <tr>
                <td>{{row["customer_email"]}}</td>
                <td><a href = "{{ url_for('view_freq_c', staff_email = session['username'], customer_email = row['customer_email']) }}";>  <button type ="button">View Details</button> </a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div>
        <h2>Comparison of Revenue earned</h2>
        {% if image3 != None %}
        <img src="{{ image3 }}" align="middle"/>
        {%else%}
        <h3>
            No Revenue was eanred in last month.
        </h3>
        {% endif %}
        {% if image4 != None %}
        <img src="{{ image4 }}" align="middle"/>
        {%else%}
        <h3>
            No Revenue was eanred in last year.
        </h3>
        {% endif %}
    </div>
    <div>
        <h2>View reports</h2>
        Total amout of ticket sold last year: {{ ly_total_amount[0]["COUNT(ticket.ticket_id)"] }}<br>
        Total amount of ticket sold last month: {{ lm_total_amount[0]["COUNT(ticket.ticket_id)"] }}<br>
        <a href = "{{ url_for('detailed_reports', staff_email = session['username']) }}";><button type ="button">View Detailed Report</button></a><br>
    </div>
    <div>
        <h2>View Top destinations</h2>
        <table border="1" cellspacing="0">
            <tr>
                <td><h4>Top 3 destination for the last three month</h4></td>
            </tr>
            {%for row in m3des %}
            {% if row %}
            <tr>
                <td>{{row['airport_city']}}</td>

            </tr>
            {% endif %}
            {% endfor %}
        </table>
        <p></p>
        <table border="1" cellspacing="0">
            <td><h4>Top 3 destiontation for last year</h4></td>
            {%for row in lydes %}
            {%if row%}
            <tr>
                <td>{{row['airport_city']}}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
    </div>
    <button onclick="window.location.href='/login'";> Log Out </button>
</body>
</html>