<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View all tickets</title>
</head>
<body>
    <!-- post the info back to upcoming_flight_search route and search -->
    <form action="/upcoming_flight/search" method ="POST">
    <!-- serach for upcoming flights -->
    <div >
        <span>Date</span>
        <input type="datetime-local" name = "time">
        <button type="submit">Search</button>
    </div>
    </form>

    <table>
        <tr>
            <td>airline_name</td>
        </tr>
        {%for row in upcoming_flight%}
        <tr>
            <!-- if select all from db, then output is a dictionary,
            if select specifically then the output is a list -->
            <td>{{row[0]}}</td>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
            <td>{{row[3]}}</td>
            <td>{{row[4]}}</td>
            <td>{{row[5]}}</td>
            <td>{{row[6]}}</td>
            <td>{{row[7]}}</td>
            <td>{{row[8]}}</td>
            <td>{{row[9]}}</td>
        </tr>
        {% endfor %}
    </table>

    <form action="/upcoming_flight_status" method="post">
        <div>
            <span>Departure Date</span>
            <input type="date" name = "departure_airport">
            <span>Arrival Date</span>
            <input type="date" name = "arrival_airport">
            <span>Flight Number</span>
            <input type="text" name = "departure_airport">
            <button type="submit"> Search </button>
        </div>
    </form>

    <!-- Display the searched result -->

</body>
</html>